# Begin default subdomain redirect #
RewriteEngine on
RewriteCond %{HTTP_HOST} ^scrptpersonaltraining.com
RewriteRule ^(.*)$ http://www.scrptpersonaltraining.com/$1 [R=permanent,L]


# End default subdomain redirect #
