@font-face {
    font-family: 'futura';
    src: url('../fonts/Futura.ttc') format('truetype');
}

@-ms-viewport {
  width: device-width;
}

html {
  font-family: 'futura', sans-serif;
  color: #58595B;
}

body {
  background-color: white;
}

p, ol, li {
  font-size: 1.1rem;
  line-height: 1.2;
}

.blueheader {
  height: 3.5rem;
}

@media only screen and (max-width: 1051px) {
  .blueheader {
    height: 3rem;
  }
  p, ol, li {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 913px) {
  .blueheader {
    height: 2.5rem;
  }
}

@media only screen and (max-width: 547px) {
  .blueheader {
    height: 2rem;
  }
  p, ol, li {
    font-size: 0.85rem;
  }
}

@media only screen and (max-width: 456px) {
  .blueheader {
    height: 1.75rem;
  }
}
@media only screen and (max-width: 382px) {
  .blueheader {
    height: 1.6rem;
  }
}
@media only screen and (max-width: 332px) {
  .blueheader {
    height: 1.5rem;
  }
}
@media only screen and (max-width: 313px) {
  .blueheader {
    height: 1.4rem;
  }
}
.article a:link,
.article a:visited,
.article a:active {
  color: white;
  text-decoration: none;
}

.article a:hover {
  text-decoration: underline;
}

/* Behavior-Why */
.behavior-why {
  background: linear-gradient(#99D1F4, #fff);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.behavior-why-text {
  width: 75%;
  padding: 2rem 1.5rem 2rem 15rem;
}

.behavior-why-image {
  width: 25%;
  padding-right: 15rem;
}

.behavior-why-image img {
  height: 10rem;
}

.behavior-why-text p {
  color: #008CE3;
  font-weight: 600;
  margin-top: 1.5rem;
}

@media only screen and (max-width: 1320px) {
  .behavior-why-text {
    padding-left: 11rem;
  }
  .behavior-why-image {
    padding-right: 11rem;
  }
}

@media only screen and (max-width: 1150px) {
  .behavior-why-text {
    padding-left: 5rem;
  }
  .behavior-why-image {
    padding-right: 5rem;
  }
}

@media only screen and (max-width: 871px) {
  .behavior-why-text {
    padding-left: 3rem;
  }
  .behavior-why-image {
    padding-right: 3rem;
  }
}

@media only screen and (max-width: 766px) {
  .behavior-why-text {
    width: 100%;
    padding: 2rem 1.5rem;
  }
  .behavior-why-image {
    display: none;
  }
}

@media only screen and (max-width: 547px) {
  .behavior-why {
    flex-direction: column;
    padding: 2rem 1.5rem;
  }
  .behavior-why-text {
    padding: 0;
  }
  .behavior-why-image {
    display: block;
    margin: 0 auto;
  }
  .behavior-why-image img {
    height: 11rem;
    padding-top: 1.5rem;
  }
}

/* Continued Why - Green */
.continued-why {
  background-color: #BED63A;
}

.continued-why p {
  padding: 2rem 15rem 2rem 15rem;
  color: #6f595b;
}
.continued-why a:link,
.continued-why a:visited,
.continued-why a:active {
  color: #6f595b;
  text-decoration: none;
}

.continued-why a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 1320px) {
.continued-why p {
    padding: 2rem 11rem 2rem 11rem;
  }
}

@media only screen and (max-width: 1150px) {
.continued-why p {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media only screen and (max-width: 871px) {
.continued-why p {
  padding: 2rem 3rem 2rem 3rem;
}
}

@media only screen and (max-width: 766px) {
.continued-why p {
  padding: 2rem 1.5rem 2rem 1.5rem;
}
}

/* Types of Misbehaviour */
.types-misbehavior {
  background-color: #F7F4F1;
}

.types-misbehavior .blueheader {
  padding-left: 15rem;
  padding-top: 2rem;
}

.types-misbehavior-container {
  color: #6f595b;
  padding: 1.5rem 15rem 3rem 15rem;
}

.types-misbehavior-container span {
  color: #008CE3;
  font-weight: bold;
}

.classifications {
    display: flex;
    justify-content: center;
}
.classifications img {
  height: 45rem;
  padding: 2rem ;
}

#classifications-mob {
  display: none;
}

.types-misbehavior-container a:link,
.types-misbehavior-container a:visited,
.types-misbehavior-container a:active {
  color: #6f595b;
  text-decoration: none;
}

.types-misbehavior-container a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 1320px) {
  .types-misbehavior .blueheader,
  .types-misbehavior-container {
    padding-left: 11rem;
    padding-right: 11rem;
  }
}
@media only screen and (max-width: 1150px) {
  .types-misbehavior .blueheader,
  .types-misbehavior-container {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media only screen and (max-width: 1074px) {
  .classifications img {
    height: 35rem;
    padding: 1.5rem ;
  }
}

@media only screen and (max-width: 871px) {
  .types-misbehavior .blueheader,
  .types-misbehavior-container {
    padding-left: 3rem;
    padding-right: 2rem;
  }
}

@media only screen and (max-width: 790px) {
  .classifications img {
    height: 30rem;
    padding: 1.5rem ;
  }
}

@media only screen and (max-width: 685px) {
  .classifications img {
    height: 25rem;
    padding: 1rem ;
  }
}

@media only screen and (max-width: 547px) {
  .types-misbehavior .blueheader {
    padding: 1.5rem 1.5rem 1rem 1.5rem;
  }
  .types-misbehavior-container {
    padding: 0rem 1.5rem 1.5rem 1.5rem;
  }
  #classifications-desk {
    display: none;
  }
  #classifications-mob {
    display: block;
  }
  .classifications img {
    height: 55rem;
  }
}

@media only screen and (max-width: 447px) {
  .classifications img {
    height: 50rem;
  }
}
@media only screen and (max-width: 375px) {
  .classifications img {
    height: 44rem;
  }
}
/* Behavior Management Strategies - Orange */
.behavior-strategies {
  background-color: #E76E34;
}

.behavior-strategies .blueheader {
  padding-left: 15rem;
  padding-top: 2rem;
}

.behavior-strategies p {
  padding: 2rem 15rem 2rem 15rem;
  color: white;
}

.behavior-strategies span {
  color: #58595B;
  font-weight: bold;
}

.behavior-strategies a:hover {
  text-decoration: underline;
}
@media only screen and (max-width: 1320px) {
  .behavior-strategies .blueheader,
  .behavior-strategies p {
    padding-left: 11rem;
    padding-right: 11rem;
  }
}

@media only screen and (max-width: 1150px) {
  .behavior-strategies .blueheader,
  .behavior-strategies p {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media only screen and (max-width: 871px) {
  .behavior-strategies .blueheader {
    padding: 2rem 3rem 0 3rem;
  }
  .behavior-strategies p {
    padding: 1rem 3rem 2rem 3rem;
  }
}

@media only screen and (max-width: 766px) {
  .behavior-strategies .blueheader {
    padding: 2rem 1.5rem 0 1.5rem;
  }
  .behavior-strategies p {
  padding: 1rem 1.5rem 2rem 1.5rem;
  }
}

@media only screen and (max-width: 547px) {
  .behavior-strategies .blueheader {
    padding: 1.5rem 1.5rem 1rem 1.5rem;
  }
  .behavior-strategies p {
    padding: 0rem 1.5rem 1.5rem 1.5rem;
  }
}

/* Top Tip */
.top-tip {
  background-color: #008CE3;
}

.top-tip-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem 15rem 0 15rem;
}

.top-tip-left {
  width: 20%;
}

.top-tip-left .blueheader {
  height: 4rem;
}

.top-tip-left .star {
  height: 7rem;
  padding-top: 1.5rem;
  padding-left: 2rem;
}

.top-tip-right {
  color: white;
  width: 75%;
  padding-bottom: 2rem;
  margin-left: 1rem;
}

.top-tip-right ol {
  padding-left: 4rem;
  list-style: decimal;
  color: #BED63A;
}

.top-tip-right ol li {
  padding-top: 1rem;
  font-size: 1.3rem;
}

.top-tip-right ol li:last-child {
  padding-bottom: 1rem;
}

.top-tip-bottom {
  padding: 0rem 15rem 2rem 15rem;
  color: white;
}

@media only screen and (max-width: 1320px) {
  .top-tip-container {
   padding: 2rem 11rem 0 11rem;
 }
 .top-tip-bottom {
   padding: 0rem 11rem 2rem 11rem;
 }
}

@media only screen and (max-width: 1150px) {
  .top-tip-container {
   padding: 2rem 5rem 0 5rem;
 }
 .top-tip-bottom {
   padding: 0rem 5rem 2rem 5rem;
 }
}
@media only screen and (max-width: 1064px) {
  .top-tip-right {
    margin-left: 0;
  }
  .top-tip-left .blueheader {
    height: 3rem;
  }

  .top-tip-left .star {
    height: 5rem;
    padding-top: 1.5rem;
    padding-left: 0;
  }
}

@media only screen and (max-width: 950px) {
  .top-tip-right ol li {
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 871px) {
  .top-tip-container {
    justify-content: center;
   padding: 2rem 3rem 0 3rem;
 }
 .top-tip-bottom {
   padding: 0rem 3rem 2rem 3rem;
 }
}

@media only screen and (max-width: 766px) {
  .top-tip-container {
    flex-direction: column;
  }
  .top-tip-left {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .top-tip-right {
    width: 100%;
    padding-bottom: 1rem;
  }

  .top-tip-container .blueheader {
    padding-bottom: 1rem;
  }

  .top-tip-container .star {
    height: 4rem;
    padding-top: 0;
  }

  .top-tip-container {
    padding: 2rem 1.5rem 0 1.5rem;
  }
  .top-tip-bottom {
    padding: 0rem 1.5rem 2rem 1.5rem;
  }
  .top-tip-right ol {
    padding-left: 2rem;
  }
  .top-tip-right ol li {
    font-size: 1rem;
  }
}

/* Non-Verbal and Verbal Cues */
.nonverbal-intro {
  background-color: #BED63A;
}

.nonverbal-intro .blueheader {
padding-left: 15rem;
padding-top: 2rem;
}

.nonverbal-intro p {
  padding: 2rem 15rem 1rem 15rem;
  color: #59595B;
}
.nonverbal-intro a:link,
.nonverbal-intro a:visited,
.nonverbal-intro a:active {
  color: #59595B;
  text-decoration: none;
}

.nonverbal-intro a:hover {
  text-decoration: underline;
}

.nonverbal-intro span {
  color: #008CE3;
  font-weight: bold;
}

@media only screen and (max-width: 1320px) {
  .nonverbal-intro .blueheader,
  .nonverbal-intro p {
    padding-left: 11rem;
    padding-right: 11rem;
  }
}
@media only screen and (max-width: 1150px) {
  .nonverbal-intro .blueheader,
  .nonverbal-intro p {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media only screen and (max-width: 1074px) {
  .progression-right img {
    padding-top: 1.5rem;
  }
}

@media only screen and (max-width: 990px) {
  .progression-right img {
    padding-top: 2rem;
  }
}

@media only screen and (max-width: 871px) {
  .nonverbal-intro .blueheader,
  .nonverbal-intro p {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .nonverbal-intro p {
    padding-top: 1rem;
  }
}

@media only screen and (max-width: 856px) {
  .nonverbal-intro .blueheader,
  .nonverbal-intro p {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

/* Physical Proximity */
.proximity {
  background-color: #BED63A;
}

.proximity-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15rem 0 15rem;
}

.proximity-left {
  width: 30%;
}

.proximity-left img {
  height: 14rem;
  padding: 0 2rem;
}

#signalsilencetab,
#signalsilencemob {
  display: none;
}

.proximity-right {
  width: 70%;
  padding-bottom: 2rem;
  margin-left: 1rem;
}

.proximity-right p {
  margin-top: 0;
  color: #59595B;
}

.proximity-right a:link,
.proximity-right a:visited,
.proximity-right a:active {
  color: #59595B;
  text-decoration: none;
}

.proximity-right a:hover {
  text-decoration: underline;
}

.proximity-right span {
  color: #008CE3;
  font-weight: bold;
}

@media only screen and (max-width: 1320px) {
  .proximity-container {
   padding: 0 11rem 0 11rem;
 }
}
@media only screen and (max-width: 1150px) {
  .proximity-container {
   padding: 0 5rem 0 5rem;
 }
}
@media only screen and (max-width: 1064px) {
  .proximity-left {
    width: 45%;
  }
  .proximity-right {
    width: 55%;
  }
}

@media only screen and (max-width: 950px) {
  .instructions-container {
    align-items: flex-end;
  }
  .proximity-left {
    width: 40%;
  }
  .proximity-right {
    align-self: center;
    width: 60%;
    padding-right: 3rem;
  }
}
@media only screen and (max-width: 871px) {
  .proximity-container {
   padding: 0 3rem 0 3rem;
 }
  .proximity-left img,
  .proximity-right {
    padding-bottom: 0;
  }

}

@media only screen and (max-width: 856px) {
  .proximity-container {
    padding: 0 1.5rem 0 1.5rem;
  }
  .proximity-left {
    width: 30%;
    margin-bottom: 0;
    align-self: center;
  }
  .proximity-right {
    width: 70%;
    padding-right: 0;
    margin-right: 0;
  }
}

@media only screen and (max-width: 804px) {
  #silencedesk {
    display: none;
  }
  #signalsilencetab {
    display: block;
  }
  .proximity-left img {
    height: 16rem;
    padding: 0;
  }
}

@media only screen and (max-width: 766px) {
  .proximity-container {
   padding: 0 1.5rem 0 1.5rem;
  }
}
@media only screen and (max-width: 556px) {
   .proximity-container {
     flex-direction: column;
   }
   .proximity-left {
     order: 2;
     width: 100%;
     text-align: center;
   }
   .proximity-right {
     order: 1;
     width: 100%;
     padding-left: 0;
     padding-bottom: 2rem;
     margin-left: 0;
  }
  #signalsilencetab {
    display: none;
  }
  #signalsilencemob {
    display: block;
  }
  .proximity-left img {
    margin: 0 auto;
  }
}
@media only screen and (max-width: 447px) {
  .proximity-left img {
    height: 14rem;
  }
}
@media only screen and (max-width: 375px) {
  .proximity-left img {
    height: 12rem;
  }
}

/* Verbal Cues */
.verbal {
  background-color: #BED63A;
}

.verbal-container {
  display: flex;
  justify-content: space-between;
  padding: 0rem 15rem 0 15rem;
}

.verbal-left {
  color: #59595B;
  width: 60%;
  padding-top: 0;
}

.verbal-left span {
  color: #008CE3;
  font-weight: bold;
}

.verbal-right {
  width: 40%;
  margin-bottom: 1rem;
  text-align: center;
}

.verbal-right img {
  height: 16rem;
}

strong {
  font-weight: bolder;
}

@media only screen and (max-width: 1320px) {
  .verbal-container {
    padding-left: 11rem;
    padding-right: 11rem;
  }
}
@media only screen and (max-width: 1150px) {
  .verbal-container {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media only screen and (max-width: 871px) {
  .verbal-container {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1rem;
  }
  .verbal-right img {
    height: 14rem;
    padding-top: 2rem;
  }
}

@media only screen and (max-width: 856px) {
  .verbal-container {
    padding: 1.5rem;
  }
}
@media only screen and (max-width: 556px) {
   .verbal-container {
     flex-direction: column;
   }
   .verbal-left {
     order: 1;
     width: 100%;
   }
   .verbal-right {
     order: 2;
     width: 100%;
     padding-top: 1rem;
     padding-left: 0;
     padding-bottom: 0;
     margin-bottom: 0;
     margin-left: 0;
     text-align: center;
  }
  .verbal-right img {
    height: 14rem;
    padding-top: 0;
  }
}

/* Situation Continues */
.situation-continues {
  background-color: #BED63A;
  padding-bottom: 1rem;
}

.situation-continues p {
  padding: 0rem 15rem 1rem 15rem;
  color: #59595B;
}

.situation-continues a:link,
.situation-continues a:visited,
.situation-continues a:active {
  color: #59595B;
  text-decoration: none;
}

.situation-continues a:hover {
  text-decoration: underline;
}

.situation-continues span {
  color: #008CE3;
  font-weight: bold;
}
@media only screen and (max-width: 1320px) {
  .situation-continues p {
    padding-left: 11rem;
    padding-right: 11rem;
  }
}
@media only screen and (max-width: 1150px) {
  .situation-continues p {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media only screen and (max-width: 977px) {
  .situation-continues p {
    padding-top: 1rem;
  }
}
@media only screen and (max-width: 871px) {
  .situation-continues p {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media only screen and (max-width: 856px) {
  .situation-continues p {
    padding: 0 1.5rem 1rem 1.5rem;
  }
}

/* Rewards and Sanctions */
.rewards-intro {
  background-color: #F7F4F1;
  padding-bottom: 2rem;
}

.rewards-intro .blueheader {
padding-left: 15rem;
padding-top: 2rem;
}

.rewards-intro p {
  padding: 2rem 15rem 0 15rem;
  color: #6f595b;
}

.rewards-intro a:link,
.rewards-intro a:visited,
.rewards-intro a:active {
  color: #6f595b;
  text-decoration: none;
}

.rewards-intro a:hover {
  text-decoration: underline;
}

.rewards-intro span {
  color: #008CE3;
  font-weight: bold;
}

@media only screen and (max-width: 1320px) {
  .rewards-intro .blueheader,
  .rewards-intro p {
    padding: 2rem 11rem 0 11rem;
  }
}
@media only screen and (max-width: 1150px) {
  .rewards-intro .blueheader,
  .rewards-intro p {
    padding: 2rem 5rem 0 5rem;
  }
}

@media only screen and (max-width: 1074px) {
  .progression-right img {
    padding-top: 1.5rem;
  }
}

@media only screen and (max-width: 990px) {
  .progression-right img {
    padding-top: 2rem;
  }
}

@media only screen and (max-width: 871px) {
  .rewards-intro .blueheader,
  .rewards-intro p {
    padding: 2rem 3rem 0 3rem;
  }
}

@media only screen and (max-width: 856px) {
  .rewards-intro .blueheader,
  .rewards-intro p {
    padding: 2rem 1.5rem 0 1.5rem;
  }
}

/* Top Tip 2 */
.top-tip-2 {
  background-color: #008CE3;
}

.top-tip-2-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 15rem 2rem 15rem;
}

.top-tip-2-left {
  width: 20%;
}

.top-tip-2-left .blueheader {
  height: 4rem;
}

#starmob {
  display: none;
}

.top-tip-2-middle {
  width: 60%;
}

.top-tip-2-middle p {
  color: white;
}

.top-tip-2-right {
  width: 15%;
}

.top-tip-2-right .star {
  height: 4rem;
}

@media only screen and (max-width: 1320px) {
  .top-tip-2-container {
    padding-left: 11rem;
    padding-right: 11rem;
  }
}
@media only screen and (max-width: 1150px) {
  .top-tip-2-container {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media only screen and (max-width: 887px) {
  .top-tip-2-right {
    display: none;
  }
  .top-tip-2-middle {
    width: 70%;
  }
}

@media only screen and (max-width: 871px) {
  .top-tip-2-container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media only screen and (max-width: 668px) {
  .top-tip-2-container {
    flex-direction: column;
  }
  .top-tip-2-left {
    order: 1;
    width: 100%;
    align-self: center;
    display: inline-block;
    justify-content: space-between;
  }

  #starmob {
    display: inline-block;
    float: right;
    height: 3rem;
  }
  .top-tip-2-left .blueheader {
    height: 3rem;
  }
  .top-tip-2-middle {
    order: 2;
    width: 100%;
    padding: 1rem 0 0 0;
    margin-bottom: 0;
    margin-left: 0;
 }
}

/* Hierarchy of Sanctions */
.hierarchy {
  background-color: #F7F4F1;
}

.hierarchy .blueheader {
  padding-left: 15rem;
  padding-top: 2rem;
}

.hierarchy-container {
  color: #6f595b;
  padding: 1.5rem 15rem 2rem 15rem;
}

.hierarchy-container span {
  color: #008CE3;
  font-weight: bold;
}

.sanctions {
    display: flex;
    justify-content: center;
}
.sanctions img {
  height: 18rem;
  padding: 2rem ;
}

#sanctions-mob {
  display: none;
}

@media only screen and (max-width: 1320px) {
  .hierarchy .blueheader,
  .hierarchy-container {
    padding-left: 11rem;
    padding-right: 11rem;
  }
}
@media only screen and (max-width: 1150px) {
  .hierarchy .blueheader,
  .hierarchy-container {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media only screen and (max-width: 1074px) {
  .sanctions img {
    height: 16rem;
  }
}

@media only screen and (max-width: 924px) {
  .sanctions img {
    height: 14rem;
  }
}

@media only screen and (max-width: 871px) {
  .hierarchy .blueheader,
  .hierarchy-container {
    padding-left: 3rem;
    padding-right: 2rem;
  }
}

@media only screen and (max-width: 792px) {
  .sanctions img {
    height: 12rem;
  }
}

@media only screen and (max-width: 700px) {
  .sanctions img {
    height: 10rem;
  }
}

@media only screen and (max-width: 602px) {
  #sanctions-desk {
    display: none;
  }
  #sanctions-mob {
    display: block;
  }
  .sanctions img {
    height: 26rem;
  }
}
@media only screen and (max-width: 547px) {
  .hierarchy .blueheader {
    padding: 1.5rem 1.5rem 1rem 1.5rem;
  }
  .hierarchy-container {
    padding: 0rem 1.5rem 1.5rem 1.5rem;
  }
  .sanctions img {
    height: 23rem;
  }
}

@media only screen and (max-width: 447px) {
  .sanctions img {
    height: 20rem;
  }
}
@media only screen and (max-width: 375px) {
  .sanctions img {
    height: 18rem;
  }
}

/* Conclusion */
.conclusion {
  background-color: #008CE3;

}

.conclusion .blueheader {
  padding-left: 15rem;
  padding-top: 2rem;
}

.conclusion-container {
  color: white;
  padding: 1.5rem 15rem 2rem 15rem;
}

.conclusion-container ul {
  list-style: disc;
  padding-top: 2rem;
  padding-left: 4rem;
  color: #BED63A;
}

.conclusion-container ul li {
  padding-bottom: 1rem;
}

.conclusion-container span {
  color: white;
}

@media only screen and (max-width: 1320px) {
  .conclusion .blueheader,
  .conclusion-container {
    padding-left: 11rem;
    padding-right: 11rem;
  }
}
@media only screen and (max-width: 1150px) {
  .conclusion .blueheader,
  .conclusion-container {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media only screen and (max-width: 1074px) {
  .routines-container img {
    height: 20rem;
    padding-top: 1.5rem;
  }
}

@media only screen and (max-width: 990px) {
  .routines-container img {
    height: 18rem;
    padding-top: 2rem;
  }
}

@media only screen and (max-width: 871px) {
  .conclusion .blueheader,
  .conclusion-container {
    padding-left: 3rem;
    padding-right: 2rem;
  }
}

@media only screen and (max-width: 808px) {
  .routines-container img {
    display: none;
  }
}

@media only screen and (max-width: 635px) {
.conclusion-container ul {
  padding-top: 1rem;
  padding-left: 2rem;
 }
}

@media only screen and (max-width: 547px) {
  .conclusion .blueheader {
    padding: 1.5rem 1.5rem 1rem 1.5rem;
  }
  .conclusion-container {
    padding: 0rem 1.5rem 1.5rem 1.5rem;
  }
}

/* AfPE */

.afpe {
  display: flex;
  justify-content:space-between;
  background-color: #fff;
  padding: 1.5rem 15rem 1.5rem 15rem;
  border-top: 6px solid #ED008C;
  border-bottom: 6px solid #ED008C;
}

.afpe-img {
  width: 30%;
}

.afpe-img img {
  height: 3.5rem;
}

#afpe-mob {
  display: none;
}

.author {
  width: 70%;
  padding-top: 4px;
}

.author p {
  color: #702B90;
}

@media only screen and (min-width: 2000px) {
  .afpe {
    padding: 1.5rem 33rem 1.5rem 33rem;
  }
}

@media only screen and (min-width: 1950px) {
  .afpe {
    padding: 1.5rem 31rem 1.5rem 31rem;
  }
}

@media only screen and (min-width: 1900px) {
  .afpe {
    padding: 1.5rem 29rem 1.5rem 29rem;
  }
}

@media only screen and (min-width: 1850px) {
  .afpe {
    padding: 1.5rem 27rem 1.5rem 27rem;
  }
}

@media only screen and (min-width: 1800px) {
  .afpe {
    padding: 1.5rem 25rem 1.5rem 25rem;
  }
}

@media only screen and (min-width: 1750px) {
  .afpe {
    padding: 1.5rem 23rem 1.5rem 23rem;
  }
}

@media only screen and (min-width: 1700px) {
  .afpe {
    padding: 1.5rem 21rem 1.5rem 21rem;
  }
}

@media only screen and (min-width: 1650px) {
  .categories {
    padding: 1.5rem 19rem 1.5rem 19rem;
  }
}

@media only screen and (min-width: 1600px) {
  .afpe {
    padding: 1.5rem 17rem 1.5rem 17rem;
  }
}

@media only screen and (max-width: 1320px) {
  .afpe {
    padding: 1.5rem 11rem 1.5rem 11rem;
  }
}

@media only screen and (max-width: 1150px) {
  .afpe {
    padding: 1.5rem 5rem 1.5rem 5rem;
  }
}

@media only screen and (max-width: 871px) {
  .afpe {
  padding: 1.5rem 3rem 1.5rem 3rem;
  }
}

@media only screen and (max-width: 832px) {
  .afpe {
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  }
}

@media only screen and (max-width: 690px) {
  #afpe-desk {
    display: none;
  }
  #afpe-mob {
    display: block;
  }
  .afpe-img {
    width: 15%;
  }

  .afpe-img img {
    height: 3.5rem;
  }

  .author {
    width: 80%;
  }
  .afpe {
    display: flex;
    justify-content:space-around;
}
}

@media only screen and (max-width: 400px) {
  .afpe-img {
    width: 25%;
  }

  .author {
    width: 65%;
  }
}


/* References */
.references {
  padding: 2rem 16rem;
}

.references h3 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.references ol {
  list-style-type: decimal;
}

.references ol li {
  margin-bottom: 1rem;
}

@media only screen and (max-width: 1320px) {
  .references {
    padding-left: 12rem;
    padding-right: 12rem;
  }
}
@media only screen and (max-width: 1150px) {
  .references {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media only screen and (max-width: 871px) {
  .references {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
