@font-face {
    font-family: 'futura';
    src: url('../fonts/Futura.ttc') format('truetype');
}

html {
  font-family: 'futura', sans-serif;
  color: #58595B;
}

body {
  background-color: white;
}

p, ol, li {
  font-size: 1.1rem;
  line-height: 1.2;
}

.blueheader {
  height: 3.5rem;
}

@media only screen and (max-width: 1051px) {
  .blueheader {
    height: 3rem;
  }
  p, ol, li {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 913px) {
  .blueheader {
    height: 2.5rem;
  }
}

@media only screen and (max-width: 547px) {
  .blueheader {
    height: 2rem;
  }
  p, ol, li {
    font-size: 0.85rem;
  }
}

@media only screen and (max-width: 456px) {
  .blueheader {
    height: 1.75rem;
  }
}

.article a:link,
.article a:visited,
.article a:active {
  color: white;
  text-decoration: none;
}

.article a:hover {
  text-decoration: underline;
}

/* Engagement-Why */
.engagement-why {
  background: url("../images/MSE/BlueTopBar.png") no-repeat center bottom;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.engagement-why-text {
  width: 75%;
  padding: 3rem 2rem 2rem 11rem;
}

.engagement-why-image {
  width: 25%;
  padding-right: 5rem;
}

.engagement-why-image img {
  height: 15rem;
}

.engagement-why-text p {
  color: #008CE3;
  font-weight: 600;
  margin-top: 1.5rem;
}

.engagement-why-text ol li {
  font-weight: 600;
  margin-top: 1.5rem;
  color: #BED63A;
}

.engagement-why-text ol {
  list-style-type: decimal;
  margin-left: 3rem;
}

.engagement-why-text ol li:first-child {
  color: #E76E34;
}

.engagement-why-text ol li:last-child {
  color: #57B6DD;
}

@media only screen and (max-width: 1456px) {
  .engagement-why-text {
    padding-left: 9rem;
  }
}

@media only screen and (max-width: 1235px) {
  .engagement-why-text {
    padding-left: 7rem;
  }
}

@media only screen and (max-width: 1150px) {
  .engagement-why-text {
    padding-left: 5rem;
  }
}

@media only screen and (max-width: 871px) {
  .engagement-why-text {
    padding-left: 3rem;
  }
  .engagement-why-image {
    padding-right: 3rem;
  }
}

@media only screen and (max-width: 766px) {
  .engagement-why-text {
    width: 100%;
    padding-right: 3rem;
  }
  .engagement-why-image {
    display: none;
  }
}


/* Establishing Routines */
.routines {
  background-color: #E76E34;
}

.routines img:first-child {
  margin-left: 8rem;
}

.routines-container {
  color: white;
  padding: 3rem  11rem;
}

.routines-container ul {
  margin: 1.5rem 0;
  padding-left: 3rem;
}
.routines-container ul li {
  line-height: 2.8;
  list-style-image:url("../images/MSE/Tick20px.png");
}

.routines-container ul li span {
  color: #008CE3;
  font-weight: bolder;
  font-size: 1.5rem;
}

.routines-container img {
  float: right;
  height: 22rem;
  padding: 1rem 5rem 1rem 1rem;
}

.routines .blueheader {
  padding: 3rem 0 0 3rem;
}

@media only screen and (max-width: 1384px) {
  .routines-container img {
    padding-right: 0;
  }
}

@media only screen and (max-width: 1181px) {
  .routines-container {
    padding: 3rem 9rem;
  }
}

/* Instructions */

.instructions {
  background-color: #BED63A;
}

.instructions-container {
  display: flex;
  justify-content: space-between;
  padding: 3rem 5rem 0 5rem;
}

.instructions-left {
  width: 40%;
  margin-bottom: -2px;
}

.instructions-left img {
  height: 20rem;
}

.instructions-right {
  color: white;
  width: 50%;
  padding-bottom: 2rem;
}

.instructions-right p {
  margin-top: 1rem;
}

.instructions-right span {
  color: #008CE3;
  font-weight: bold;
}

@media only screen and (max-width: 1181px) {
  .instructions-container {
    padding: 3rem 5rem 0 0;
  }
  .instructions-left {
    width: 30%;
  }
  .instructions-right {
    width: 55%;
  }
}

/* Planning for Progression */

.progression {
  background-color: #57B6DD;
}

.progression-container {
  display: flex;
  justify-content: space-between;
  padding: 3rem 5rem 2rem 11rem;
}

.progression-left {
  color: white;
  width: 50%;
}

.progression-left p {
  margin-top: 1rem;
}

.progression-right {
  width: 40%;
  margin-bottom: 1rem;
  text-align: center;
}

.progression-right img {
  height: 17rem;
}

strong {
  font-weight: bolder;
  font-size: 1.2rem;
}

#orange {
  color: #E76E34;
  font-weight: bold;
}

#green {
  color: #BED63A;
  font-weight: bold;
}

#grey {
  color: #59595B;
  font-weight: bold;
}

#purple {
  color: purple;
  font-weight: bold;
}

@media only screen and (max-width: 1181px) {
  .progression-container {
    padding: 3rem 9rem 1rem 9rem;
  }
}

/* Conclusion */
.conclusion {
  background-color: #008CE3;

}

.conclusion-container {
  display: flex;
  justify-content: space-between;
  padding: 3rem 9rem 2rem 9rem;
}

.conclusion-left {
  width: 60%;
}

.conclusion-left img {
  height: 16rem;
}

.conclusion-right {
  color: white;
  width: 40%;
  margin-left: 1rem;
}

.conclusion-right p {
  margin-top: 1rem;
}

@media only screen and (max-width: 1435px) {
  .conclusion-container {
    padding-right: 9rem;
    padding-left: 7rem;
  }
}

@media only screen and (max-width: 1344px) {
  .conclusion-container {
    padding-right: 5rem;
    padding-left: 5rem;
  }

  .conclusion-left {
    width: 50%;
  }
  .conclusion-left img {
    height: 14rem;
  }
  .conclusion-right {
    width: 50%;
  }

}

/* References */
.references {
  padding: 3rem 11rem;
}

.references h3 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.references ol {
  list-style-type: decimal;
}

.references ol li {
  margin-bottom: 1rem;
}
