@font-face {
    font-family: 'futura';
    src: url('../fonts/Futura.ttc') format('truetype');
}

html {
  font-family: 'futura', sans-serif;
  color: #58595B;
}

body {
  background-color: white;
}

p, ol, li {
  font-size: 1.1rem;
  line-height: 1.2;
}

.blueheader {
  height: 3.5rem;
}

.orange {
  color: #DE572F;
  text-transform: uppercase;
  font-weight: bold;
}

.orange-lc {
  color: #DE572F;
  font-weight: bold;
}

.gray {
  color: #58595B;
  text-transform: uppercase;
  font-weight: bold;
}

.gray-lc {
  color: #58595B;
  font-weight: bold;
}

.blue-bold {
  color: #008CE3;
  font-weight: 600;
  margin-top: 1.5rem;
}

.lite-blue {
  color: #57B6DD;
  text-transform: uppercase;
  font-weight: bold;
}

.lite-blue-lc {
  color: #57B6DD;
  font-weight: bold;
}

.green {
  color: #D6DA2D;
  text-transform: uppercase;
  font-weight: bold;
}

.orange2 {
  color: #D86C1C;
}

.bold {
  text-transform: uppercase;
  font-weight: bold;
}

.white-lc {
  color: white;
  font-weight: bold;
}

@media only screen and (max-width: 1051px) {
  .blueheader {
    height: 3rem;
  }
  p, ol, li {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 913px) {
  .blueheader {
    height: 2.5rem;
  }
}

@media only screen and (max-width: 547px) {
  .blueheader {
    height: 2rem;
  }
  p, ol, li {
    font-size: 0.85rem;
  }
}

@media only screen and (max-width: 456px) {
  .blueheader {
    height: 1.75rem;
  }
}

.article a:link,
.article a:visited,
.article a:active {
  color: #58595B;
  text-decoration: none;
}

.article a:hover {
  text-decoration: underline;
}

/* LO's Why */
.lessons-obs {
  background: linear-gradient(#99D1F4, #fff);
}
.lessons-obs .blueheader {
  margin: 2rem 0 1rem 11rem;
}

.lessons-obs-why {
  display: flex;
}

.lessons-obs-why p {
  padding: 1rem 11rem 1rem 11rem;
}
.lessons-obs-why p:first-child {
  padding-right: 2rem;
}

#ipad {
  height: 14rem;
  position: relative;
  float: right;
  margin-right: 11rem;
  top: 7rem;
}

.lessons-obs-why-list {
  padding: 1rem 11rem 2rem 11rem;
}

.lessons-obs-why-list ol {
  margin-top: 1rem;
}

.lessons-obs-why-list li {
  margin-bottom: 1rem;
}

.lessons-obs-why-list li:first-child {
  padding-right: 12rem;
}

.lessons-obs-why-list li:nth-child(2) {
  padding-top: 2rem;
}

@media only screen and (max-width: 1150px) {
  .lessons-obs .blueheader {
    margin-left: 5rem;
  }

  #ipad {
    margin-right: 5rem;
  }
  .lessons-obs-why p,
  .lessons-obs-why-list {
    padding-left: 5rem;
  }

  .lessons-obs-why-list {
    padding-right: 5rem;
  }

}

@media only screen and (max-width: 871px) {
  .lessons-obs .blueheader {
    margin-left: 3rem;
  }
  .lessons-obs-why p,
  .lessons-obs-why-list {
    padding-left: 3rem;
    padding-bottom: 0;
    padding-top: 0;
  }

  #ipad {
    height: 10rem;
    margin-right: 3rem;
    margin-top: 1rem;
    top: 4.5rem;
  }
  .lessons-obs-why-list li:nth-child(2) {
    padding-top: 0;
  }
  .lessons-obs-why-list li:first-child {
    padding-right: 7rem;
  }
}

@media only screen and (max-width: 746px) {
  #ipad {
    height: 8rem;
  }
}

@media only screen and (max-width: 671px) {
  .lessons-obs-why-list li:first-child {
    padding-right: 0;
  }

}

@media only screen and (max-width: 524px) {

}

/* Blooms Brain */
.blooms-brain {
  background-color: #E76E34;
  display: flex;
  justify-content: center;
}

.blooms-brain-img {
  display: flex;
}

.blooms-brain-img img {
  height: 30rem;
  margin-right: 2rem;
}


@media only screen and (max-width: 1150px) {
  .blooms-brain-img {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .blooms-brain-img img {
    height: 25rem;
    margin-right: 2rem;
  }
}

@media only screen and (max-width: 871px) {
  .blooms-brain-img {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .blooms-brain-img img {
    height: 21rem;
    margin-right: 2rem;
  }
}

@media only screen and (max-width: 766px) {
  .blooms-brain-img {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .blooms-brain-img img {
    height: 16rem;
    margin-right: 2rem;
  }
}

@media only screen and (max-width: 380px) {
  .blooms-brain-img img {
    height: 12rem;
    margin-right: 2rem;
  }
}

/* LOs Qualities */
.los-qualities p {
  padding: 2rem 11rem 2rem 11rem;
}

.los-qualities-4-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 11rem;
}

.block {
  width: 13rem;
  height: 30rem;
  margin: 1rem 1rem 2rem 1rem;
}

.block .row {
  width: 100%;
  background-color: white;
}

.block img {
  margin-left: 1.65rem;
  margin-bottom: -4px;
}
.block h4 {
  padding: 1rem 1rem 1rem 1rem;
  text-align: center;
}
.block p {
  padding: 0.5rem 1rem 1.5rem 1rem;
}

.block:first-child {
  background-color: #008CE3;
  color: white;
}

.block:nth-child(2){
  background-color: #57B6DD;
  color: white;
}

.block:nth-child(3){
  background-color: #DE572F;
  color: white;
}

.white-bold-M {
  font-size: 1.3rem;
  font-weight: bold;
}

.white-bold-L {
  font-size: 1.5rem;
  font-weight: bold;
}

.block:last-child {
  background-color: #BED63A;
  color: #4E4D4D;
}

.gray-bold-L {
  font-size: 1.3rem;
  font-weight: bold;
}

@media only screen and (max-width: 1455px) {
  .motivation-table img {
    height: 45rem;
  }
}
@media only screen and (max-width: 1352px) {
  .motivation-table img {
    height: 42rem;
  }
}

@media only screen and (max-width: 1243px) {
  .motivation-table img {
    height: 39rem;
  }
}

@media only screen and (max-width: 1150px) {
  .motivation-table img {
    height: 36rem;
  }
  .motivation-table p {
    margin-left: 5rem;
}
}
@media only screen and (max-width: 1060px) {
  .motivation-table img {
    height: 33rem;
  }
}
@media only screen and (max-width: 970px) {
  .motivation-table img {
    height: 30rem;
  }
}
@media only screen and (max-width: 871px) {
  .motivation-table p {
    margin-left: 5rem;
  }
}
@media only screen and (max-width: 860px) {
  .motivation-table img {
    height: 27rem;
  }
}
@media only screen and (max-width: 766px) {
  .motivation-table p {
    margin-left: 1.5rem;
  }
}
@media only screen and (max-width: 770px) {
  .motivation-table img {
    height: 24rem;
  }
}
@media only screen and (max-width: 680px) {
  .motivation-table img {
    height: 21rem;
  }
}
@media only screen and (max-width: 580px) {
  .motivation-table img {
    height: 18rem;
  }
}
@media only screen and (max-width: 480px) {
  .motivation-table img {
    height: 15rem;
  }
}


/* LOs Examples */
.los-examples {
  padding: 1.5rem 11rem 1.5rem 11rem;
}

.los-examples p {
  line-height: 1.5;
}

.los-examples-eg {
  padding-left: 3rem;
}

.blue-bold-L {
  color: #008CE3;
  font-size: 1.8rem;
  font-weight: bold;
}
.lite-blue-L {
  color: #57B6DD;
  font-size: 1.8rem;
  font-weight: bold;
}

.orange-L {
  color: #DE572F;
  font-size: 1.8rem;
  font-weight: bold;
}

.green-L {
  color: #D6DA2D;
  font-size: 1.8rem;
  font-weight: bold;
}

.yellow-L {
  color: #BED63A;
  font-size: 1.8rem;
  font-weight: bold;
}

@media only screen and (max-width: 1150px) {

}

@media only screen and (max-width: 871px) {

}

@media only screen and (max-width: 547px) {

}

/* LOs Examples 2 */
.los-examples2 {
  background-color: #008CE3;
  padding: 1rem 11rem 2rem 11rem;
}

.los-examples2 ul li {
  color: white;
  line-height: 1.5;
}

.navy-bold {
  color: #00336B;
  font-weight: bold;
  font-size: 1.3rem;
  margin: 1rem 0;
}

#TeacherAndStick {
  float: right;
  margin-top: -30rem;
  height: 30rem;
  margin-right: 5rem;
}


.motivation-psych img {
  height: 48rem;
  margin: 1rem 11rem 2rem 11rem;
}

.motivation-psych p {
  align-self: flex-start;
  margin-left: 11rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 1455px) {
  .motivation-psych img {
    height: 45rem;
  }
}
@media only screen and (max-width: 1352px) {
  .motivation-psych img {
    height: 42rem;
  }
}

@media only screen and (max-width: 1243px) {
  .motivation-psych img {
    height: 39rem;
  }
}

@media only screen and (max-width: 1150px) {
  .motivation-psych img {
    height: 36rem;
  }
  .motivation-psych p {
    margin-left: 5rem;
  }
}
@media only screen and (max-width: 1060px) {
  .motivation-psych img {
    height: 33rem;
  }
}
@media only screen and (max-width: 970px) {
  .motivation-psych img {
    height: 30rem;
  }
}
@media only screen and (max-width: 871px) {
  .motivation-psych p {
    margin-left: 5rem;
  }
}
@media only screen and (max-width: 860px) {
  .motivation-psych img {
    height: 27rem;
  }
}
@media only screen and (max-width: 766px) {
  .motivation-psych p {
    margin-left: 1.5rem;
  }
}
@media only screen and (max-width: 770px) {
  .motivation-psych img {
    height: 24rem;
  }
}
@media only screen and (max-width: 680px) {
  .motivation-psych img {
    height: 21rem;
  }
}
@media only screen and (max-width: 580px) {
  .motivation-psych img {
    height: 18rem;
  }
}
@media only screen and (max-width: 480px) {
  .motivation-psych img {
    height: 15rem;
  }
}


/* Motivation Target */
.motivation-target {
  background-color: #57B6DD;
  color: white;
}

.motivation-target p {
    padding: 2rem 11rem 2rem 11rem;
  }
}

@media only screen and (max-width: 1150px) {
  .motivation-target p {
    padding: 1rem 5rem 0.5rem 5rem;
  }
}

@media only screen and (max-width: 871px) {
  .motivation-target p {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media only screen and (max-width: 766px) {
  .motivation-target p {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

/* Target Table */
.target-table {
  width: 100%;
}
.target-table-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.target-table img {
  height: 50rem;
  margin: 1rem 11rem 2rem 11rem;
}

.target-table p {
  padding: 2rem 11rem 1rem 11rem;
}

@media only screen and (max-width: 1455px) {
  .target-table img {
    height: 45rem;
  }
}
@media only screen and (max-width: 1352px) {
  .target-table img {
    height: 42rem;
  }
}

@media only screen and (max-width: 1243px) {
  .target-table img {
    height: 39rem;
  }
}

@media only screen and (max-width: 1150px) {
  .target-table img {
    height: 36rem;
  }
  .target-table p {
    padding: 2rem 5rem 1rem 5rem;
  }
}
@media only screen and (max-width: 1060px) {
  .target-table img {
    height: 33rem;
  }
}
@media only screen and (max-width: 970px) {
  .target-table img {
    height: 30rem;
  }
}
@media only screen and (max-width: 871px) {
  .target-table p {
    padding: 2rem 3rem 1rem 3rem;
  }
}
@media only screen and (max-width: 860px) {
  .target-table img {
    height: 27rem;
  }
}
@media only screen and (max-width: 871px) {
  .target-table p {
    padding: 2rem 1.5rem 1rem 1.5rem;
  }
}
@media only screen and (max-width: 770px) {
  .target-table img {
    height: 24rem;
  }
}
@media only screen and (max-width: 680px) {
  .target-table img {
    height: 21rem;
  }
}
@media only screen and (max-width: 580px) {
  .target-table img {
    height: 18rem;
  }
}
@media only screen and (max-width: 480px) {
  .target-table img {
    height: 15rem;
  }
}


/* Conclusion */
.conclusion {
  background-color: #008CE3;
  color: white;
}

.conclusion .blueheader {
  padding-left: 11rem;
  padding-top: 2rem;
}

.conclusion-container {
  padding: 2rem 11rem 3rem 11rem;
}

.conclusion a:link,
.conclusion a:visited,
.conclusion a:active {
  color: white;
}

@media only screen and (max-width: 1150px) {
  .conclusion .blueheader,
  .conclusion-container {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media only screen and (max-width: 871px) {
  .conclusion .blueheader,
  .conclusion-container {
    padding-left: 3rem;
    padding-right: 2rem;
  }
}

@media only screen and (max-width: 547px) {
  .conclusion .blueheader {
    padding: 1.5rem 1.5rem 1rem 1.5rem;
  }
  .conclusion-container {
    padding: 0rem 1.5rem 1.5rem 1.5rem;
  }
}



/* References */
.references {
  padding: 3rem 14rem;
}

.references h3 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.references ol {
  list-style-type: decimal;
}

.references ol li {
  margin-bottom: 1rem;
}

@media only screen and (max-width: 1150px) {
  .references {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media only screen and (max-width: 871px) {
  .references {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
